*{
    font-family: Helvetica;
}

.main-structure{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

h2{
    font-size: 40px;
    margin-bottom: 20px;
}

.main-structure{
    padding: 30px 0;
}

.container-fluid{
    height: 100%;
}

.main-bttn{
    padding: 5px 10px;
    border-radius: 25px;
    color: white;
}

.main-bttn:hover{
    box-shadow: inset 0px 0px 0px 2px white;
}

.main-bttn.red:hover{
    box-shadow: inset 0px 0px 0px 2px black;
}

.main-bttn.plus:hover{
    box-shadow: inset 0px 0px 0px 2px rgb(199, 197, 197);
}

.main-bttn.now:hover{
    box-shadow: inset 0px 0px 0px 2px black;
}
#navbarSupportedContent a:hover{
    color: rgb(0, 99, 205);
}

#ratchet-returnal .shifted:hover{
    transform: translateY(-10px);
}

#bordered-img:hover{
    border-bottom: 2px solid rgb(9, 114, 206);
    cursor: pointer;
}

#bordered-img:hover img{
    opacity: 1;
}
.p-left-zero{
    padding-left: 0;
}

li{
    list-style: none;
}