*{
    font-family: Helvetica;
}

.main-structure{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}

h2{
    font-size: 40px;
    margin-bottom: 20px;
}

#white-console p,
#black-console p,
#discount p{
    color: rgb(114, 114, 114);
}

.main-structure{
    padding: 30px 0;
}

.container-fluid{
    height: 100%;
}

.main-bttn{
    padding: 5px 10px;
    border-radius: 25px;
    color: white;
}

.main-bttn:hover{
    box-shadow: inset 0px 0px 0px 2px white;
}

.main-bttn.red:hover{
    box-shadow: inset 0px 0px 0px 2px black;
}

.main-bttn.plus:hover{
    box-shadow: inset 0px 0px 0px 2px rgb(199, 197, 197);
}

.main-bttn.now:hover{
    box-shadow: inset 0px 0px 0px 2px black;
}
#navbarSupportedContent a:hover{
    color: rgb(0, 99, 205);
}

#navbarSupportedContent a:hover .fa-chevron-down{
    color: rgb(0, 99, 205);
}

#navbarSupportedContent a:focus .fa-chevron-up{
    color: rgb(0, 99, 205);
}

#ratchet-returnal .shifted:hover{
    transform: translateY(-10px);
}

#ratchet-returnal .shifted:hover img{
    box-shadow: 0px 0px 0px 2px black;
}

#bordered-img:hover{
    cursor: pointer;
}

#bordered-img:hover img{
    opacity: 1;
}

#bordered-img:active{
    border-bottom: 2px solid rgb(9, 114, 206);
}

#ratchet-tony img:hover{
    opacity: 1;
    transform: translateY(-10px);
    box-shadow: 0px 0px 0px 2px black;
}

.p-left-zero{
    padding-left: 0;
}

li{
    list-style: none;
}

.fa-chevron-down{
    color: rgb(153, 153, 153);
}

.fa-chevron-up{
    color: rgb(153, 153, 153);
    display: none;
}

#navbarDropdown:focus .fa-chevron-down{
    display: none;
}

#navbarDropdown:focus .fa-chevron-up{
    display: inline-block;
}