/* HEADER */
header{
    background-color: white;
}
.top-logo{
    height: 30px;
    background-color: black;
}

.top-logo img{
    height: 50%;
}
/* /HEADER */

/* JUMBOTRON */
#jumbotron{
    background-image: url("../img/jumbo-bg.png");
    background-position: bottom;
    height: 764px;
}

#jumbotron .row{
    height: 100%;
}

#jumbo-returnal{
    width: 250px;
}

#jumbotron .main-bttn{
    background-color: rgb(205, 61, 15);
    border-color: rgb(205, 61, 15);
    margin: 20px 0 60px 0;
}

#jumbotron h2, #jumbotron p{
    margin: 30px 0;
    color: white;
}


/* /JUMBOTRON */

/* MAIN */

/* section ratchet and returnal images */
#ratchet-returnal img{
    width: 100%;
    border-radius: 15px;
    margin: 30px 0;
}

/* white console and white joystick section */

#white-console img{
    width: 100%;
}

#flex-playstation{
    display: flex;
    flex-wrap: wrap;
}

#flex-playstation div{
    width: calc(100% / 5);
}


/* /MAIN */

/* MEDIA NECESSITY */
@media all and (max-width: 767px){
    #flex-playstation div{
        width: calc(100% / 3);
    }
}