/* HEADER */
header{
    background-color: white;
}
.top-logo{
    height: 30px;
    background-color: black;
}

.top-logo img{
    height: 50%;
}

header .main-bttn{
    background-color: rgb(54, 54, 54);
    color: white;
    border-color: rgb(54, 54, 54);
    margin-right: 20px;
}

#navbarSupportedContent li{
    margin-right: 10px;
}

#navbarSupportedContent a{
    color: black;
}

#lens{
    width: 25px;
}
/* /HEADER */

/* JUMBOTRON */
#jumbotron{
    background-image: url("../img/jumbo-bg.png");
    background-position: bottom;
    height: 764px;
}

#jumbotron .row{
    height: 100%;
}

#jumbo-returnal{
    width: 250px;
}

#jumbotron .main-bttn{
    background-color: rgb(205, 61, 15);
    border-color: rgb(205, 61, 15);
    margin: 20px 0 60px 0;
}

#jumbotron h2, #jumbotron p{
    margin: 30px 0;
    color: white;
}


/* /JUMBOTRON */

/* MAIN */

/* section ratchet and returnal images */
#ratchet-returnal img{
    width: 100%;
    border-radius: 15px;
    margin: 30px 0;
}

/* white console and white joystick section */

#white-console img{
    width: 100%;
}

#white-console .main-bttn{
    background-color: rgb(45, 100, 230);
    border-color: rgb(45, 100, 230);
    color: white;
}

#flex-playstation{
    display: flex;
    flex-wrap: wrap;
}

#flex-playstation div{
    width: calc(100% / 5);
}

/* take-two-banner section */
#take-two-banner{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    color: white;
}

#take-two-logo{
    width: 250px;
}

#take-two-banner button{
    background-color: rgb(205, 61, 15);
    border-color: rgb(205, 61, 15);
    margin: 20px 0 60px 0;
}

/* ratchet and tony hawk videogames slider section */
#ratchet-tony{
    background-color: rgb(31, 31, 31);
    color: white;
}

#ratchet-tony img{
    width: 100%;
    border-radius: 15px;
    margin: 30px 0;
}

/* black console section */
#black-console img{
    width: 100%;
}

#black-console button{
    background-color: rgb(45, 100, 230);
    color: white;
    border-color: rgb(45, 100, 230);
    margin: 20px 0 60px 0;
}

/* playstation-plus section */
#playstation-plus{
    background-color: rgb(190, 188, 187);
}

#plus-img{
    width: 250px;
}

#plus-img-disappear{
    width: 100%;
}

#playstation-plus button{
    background-color: rgb(217, 218, 220);
    color: rgb(39, 96, 230);
    border: none;
    margin: 20px 0 60px 0;
}

/* discount section */
#discount img{
    width: 100%;
}

/* playstation-now section */
#playstation-now{
    background-color: rgb(22, 28, 59);
    color: white;
}

#now-img{
    width: 250px;
}

#now-img-disappear{
    width: 100%;
}

#playstation-now button{
    background-color: rgb(245, 245, 245);
    color: black;
    border-color: rgb(245, 245, 245);
    margin: 20px 0 60px 0;
}

/* socials section */
#socials .socials-structure{
    width: 50%;
    margin: 30px auto;
}

#socials img{
    width: 100%;
    margin: 30px 0;
}

/* /MAIN */

/* FOOTER */
footer{
    background-color: rgb(0, 67, 156);
    color: white;
}

#logo-play{
    width: 100px;
}

#s-i-e{
    width: 100px;
}

/* MEDIA NECESSITY */
@media all and (max-width: 767px){
    #flex-playstation div{
        width: calc(100% / 3);
    }
}